@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #27282d 0%, #191519 100%);
  color: white;
}

:root {
  --accent-primary: #4974ef;
  --accent-secondary: #6fbcff;
}

@theme {
  --color-div: #303135;
  --color-subtext: rgba(255, 255, 255, 0.8);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
}
